
.display_table {
    background-color: #cddc39;
    border: 1px solid black;
    width: 800px;
    margin-top: 60px;
    margin-left: 160px;
    margin-bottom: 10px;
}

.display_q_details_table {
    background-color: #cddc39;
    border: 1px solid black;
    width: 800px;
    margin-top: 60px;
    margin-bottom: 10px;
}

body {
    background-color: #27a777;
    align-content: center;
}

div {
    border-style: solid black;
}

#add_answer {
    position: absolute;
    margin: 40px 440px;
}

#add_answer_q {
    position: absolute;
    margin: 30px 440px;
}

.q_detail {
    background-color: #a55f5f;
    padding: 0px 5px;
    width: 800px;
}
#q_desc {
    width: 790px;
    border: 1px solid black;
    padding: 5px;
}

#q_date {
    margin-left: 666px;
}

#answers {
    position: absolute;
    margin-left: 5px;
    margin-top: 20px;
}

#details {
    position: absolute;
    margin-left: 5px;
    margin-top: -20px;
    font: 13pt;
}

#search {
    position: static;
    margin-left: 888px;
    margin-top: 40px;
}

#ask {
    position: absolute;
    margin-left: 165px;
    margin-top: 70px;
}

#user {
    position: absolute;
    margin-top: 71px;
    margin-left: 330px;
}

#user_list {
    position: absolute;
    margin-left: 470px;
    margin-top: 17px; 
}

#reg_us {
    margin-left: 160px;
    color: gold;
}

#ask_form {
    margin-left: 60px;
    margin-top: 30px;
    border: 2px;
    color: gold;
}

#awesome_button {
    margin-left: 760px;
    margin-top: 60px;
}

.cr_user {
    margin-left: 500px;
    align-content: center;
    margin-top: 50px;
    color: gold;
    font: 16pt;
}


#main_title {
    font-family: sans-serif, Arial, Helvetica;
    color: gold;
    text-shadow: 11px 9px 12px black;
    position: absolute;
    margin-left: 170px;
    margin-top: 8px;
    font: 20pt;
}

#ask_q_title {
    margin-left: 60px;
    font: 14pt;

}

#back {
    position: absolute;
    margin-left: 750px;
    margin-top: 250px;

}