
.display_table {
    background-color: #cddc39;
    border: 2px solid black;
    width: 800px;
    margin-top: 60px;
    margin-left: 160px;
    margin-bottom: 10px;
    padding: 3px;
}

.display_q_details_table {
    background-color: #cddc39;
    border: 1px solid black;
    width: 900px;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 3px;
}

body {
    background-color: #27a777;
    align-content: center;
}

div {
    border-style: solid black;
}
#q_title {
    margin-bottom: 10px;
    padding: 10px;
}

#add_answer {
    position: relative;
    margin: 10px 470px;
}

#add_answer_q {
    position: relative;
    margin: 200px 470px;
    margin-bottom: 0px;
}

#back {
    position: relative;
    margin-left: 777px;
    margin-top: 80px;

}

#back_button { 
    position: relative;
    margin-left: 888px;
    margin-top: 80px;
}

.q_detail {
    background-color: #a55f5f;
    padding: 5px 5px;
    width: 67%;
    margin-left: 10px;
}
#q_desc {
    width: 790px;
    border: 1px solid black;
    padding: 10px;
    margin-left: 8px;
}

#q_date {
    margin-left: 666px;
}

#answers {
    position: absolute;
    margin-left: 5px;
    margin-top: 20px;
}

#details {
    position: absolute;
    margin-left: 5px;
    margin-top: -20px;
    font: 13pt;
}

.comment_section {
    position: fixed;
    margin-left: 860px;
    float: right;
    margin-top: -140px;
    }

#comment_table {
    position: absolute;
    margin-top: 50px;

}
#search {
    position: static;
    margin-left: 888px;
    margin-top: 40px;
}

#ask {
    position: absolute;
    margin-left: 165px;
    margin-top: 70px;
}

#user {
    position: absolute;
    margin-top: 71px;
    margin-left: 330px;
}

#user_list {
    position: absolute;
    margin-left: 470px;
    margin-top: 17px; 
}

#reg_us {
    margin-left: 160px;
    color: gold;
}

#ask_form {
    margin-left: 60px;
    margin-top: 30px;
    border: 2px;
    color: gold;
}

#awesome_button {
    margin-left: 760px;
    margin-top: 60px;
}

.cr_user {
    margin-left: 500px;
    align-content: center;
    margin-top: 50px;
    color: gold;
    font: 16pt;
}


#main_title {
    font-family: sans-serif, Arial, Helvetica;
    color: gold;
    text-shadow: 11px 9px 12px black;
    position: absolute;
    margin-left: 170px;
    margin-top: 8px;
    font: 20pt;
}

#ask_q_title {
    margin-left: 60px;
    font: 14pt;

}