<!DOCTYPE html>
<html lang="en">

<head>
    <title>AskM8 - Display a question</title>
</head>

<body bgcolor="BDECB6">
    <h2>
        <p align="left">{{question_id}}. {{title}}</p>
    </h2>
    <div style="height:100px; width:710px; border:1px solid;">{{message}}</div>
    <p align="center">{{date}}</p>
    <table border="1" style="width:710px;">
        {%if answer_details%}
            {%for tupple in answer_details%}
            <tr>
                <td>{{tupple[0]}}</td>
                <td>{{tupple[4]}}</td>
                <td>{{tupple[1]}}</td>
                <td>{{tupple[2]}}</td>
                <td><a href="{{url_for('delete_answer', question_id=question_id, answer_id=tupple[0])}}" method='POST'>delete</a></td>
            </tr>
            {%endfor%}
        {%else%}
            <tr>
                <td>
                    Seems like your question hasn't been answered yet. Oh wait... EXISTENCE IS PAIN.
                </td>
            </tr>
        {%endif%}
    </table>
    <p>Add a new answer:</p>
    <p>
        <form action="/question/{{question_id}}" method="POST">
            <textarea name="answer" rows="5" cols="42"></textarea><br>
            <p><input type="submit" value="submit"></p>
        </form>
    </p>

</body>

</html>