<!DOCTYPE html>
<html lang="en">

<head>
    <title>AskM8 - Display a question</title>
    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='style.css')}}"/>
    
</head>

<body>
    <h2>
        <p>{{question_id}}. {{title}}</p>
    </h2>
    <p id="details">Details: </p>
    <div class="q_detail" id="q_desc">{{message}}</div>
    <p id="q_date">{{date}}</p>
    <h3 id="answers">Answers: </h3>
    <table class="display_q_details_table">
        {%if answer_details%}
            {%for tupple in answer_details%}
            <tr>
                <td>{{tupple[0]}}</td>
                <td>{{tupple[4]}}</td>
                <td>{{tupple[1]}}</td>
                <td>{{tupple[2]}}</td>
                <td><a href="{{url_for('delete_answer', question_id=question_id, answer_id=tupple[0])}}" method='POST'>delete</a></td>
            </tr>
            {%endfor%}
        {%else%}
            <tr>
                <td>
                    Seems like your question hasn't been answered yet. Oh wait... EXISTENCE IS PAIN.
                </td>
            </tr>
        {%endif%}
    </table>
    <p id="add_answer_q">Add a new answer:</p>
    <p>
        <form id="add_answer" action="/question/{{question_id}}" method="POST">
            <textarea name="answer" rows="5" cols="42"></textarea><br>
            <p><input type="submit" value="submit"></p>
        </form>
    </p>
    <form id="back" action="/" method="GET">
        <p><input type="submit" value="back"></p>
    </form>

</body>

</html>