<!DOCTYPE html>
<html lang="en">

<head>
    <title>AskM8 - Display a question</title>
    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='style.css')}}"/>
    
</head>

<body>
    <h2>
        <p id="q_title">{{question_id}}. {{title}}</p>
    </h2>
    <p id="details">Details: </p>
    <div class="q_detail" id="q_desc">{{message}}</div>
    <p id="q_date">{{date}}</p>
    <h3 id="answers">Answers: </h3>
    <table class="display_q_details_table" border="1" align="left" style="width:64%">
        {%if answer_details%}
            {%for tupple in answer_details%}
            <tr>
                <td><center>{{tupple[0]}}</center></td>
                <td><center>{{tupple[4]}}</center>
                    <table>
                        <tr>
                            <td>
                                {%if answer_comment %}
                                    {{answer_comment[1][0]}}
                                {%endif%}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="answer_comment">
                                    <form action="/question/{{question_id}}/{{tupple[0]}}/new-comment" method="POST">
                                    <textarea name="answer_comment_textarea" id="" cols="30" rows="1"></textarea><br>
                                    <select id="ans_comm_usr_select" name="users_name_ans_comm">
                                            {%for data in users_ordered%}
                                            <option>{{data[0]}}</option>
                                            {%endfor%}
                                    </select>
                                    <input id="send_comment" type="submit" value="Send Comment">
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td><center>{{tupple[1]}}</center></td>
                <td><center>{{tupple[2]}}</center></td>
                <td><a href="{{url_for('delete_answer', question_id=question_id, answer_id=tupple[0])}}" method='POST'>Delete</a></td>
                <td><a href="{{url_for('accept_answer', answer_id=tupple[0])}}" method='POST'>Accept</a></td>
            </tr>
            {%endfor%}
        {%else%}
            <tr>
                <td>
                    Seems like your question hasn't been answered yet. Oh wait... EXISTENCE IS PAIN.
                </td>
            </tr>
        {%endif%}
    </table>
    <div class="comment_section"><form action="/question/{{question_id}}/new-comment" method="POST">
        <p>Comment section</p>
        <textarea name="comment" id="" cols="30" rows="3"></textarea>
        <select id="comm_usr_select" name="users_name_comm">
                {%for data in users_ordered%}
                <option>{{data[0]}}</option>
                {%endfor%}
        </select>
        <input id="send_comment" type="submit" value="Send Comment">
    </form>
    {%if comments%}
    <table id="comment_table" border="1" align="left" style="width:100%">
        {%for comment in comments%}
        <tr>
            <td>
                {{comment[0]}}
            </td>
            <td>
                {{comment[1]}}
            </td>
        </tr>
        {%endfor%}
    </table>
    {%endif%}
    </div>
    <p id="add_answer_q">Add a new answer:</p>
    <p>
        <form id="add_answer" action="/question/{{question_id}}" method="POST">
            <textarea name="answer" rows="5" cols="42"></textarea><br>
            <select name="users_name_answ">
                {%for data in users_ordered%}
                <option>{{data[0]}}</option>
                {%endfor%}
            </select>
            <p><input type="submit" value="submit"></p>
        </form>
    </p>
    <a id="back" href="{{url_for('list_questions')}}">
            <button>Back</button>
        </a>

</body>

</html>