<!DOCTYPE html>
<html lang="en">
<head>
    <title>AskM8</title>
</head>
<body bgcolor="BDECB6">
        {%if question_details%}
            <form action="/edit_question/{{question_details[0][0]}}" method="POST">
                <h2><b>Question title<b></h2>
                <p><input value= "{%if question_details%}{{question_details[0][4]}}{%endif%}" type= "text" name= "question_title" size="42"></p> 
                <h2><b>Question description<b></h2>
                <p><textarea name="question_description" rows="5" cols="42">{%if question_details%}{{question_details[0][5]}}{%endif%}</textarea></p>
                <p><input type="submit" value="save changes"></p>
        {%else%}
            <form action="/question" method="POST">
                <h2><b>Question title<b></h2>
                <p><input value= "{%if question_details%}{{question_details[0][4]}}{%endif%}" type= "text" name= "question_title" size="42"></p> 
                <h2><b>Question description<b></h2>
                <p><textarea name="question_description" rows="5" cols="42">{%if question_details%}{{question_details[0][5]}}{%endif%}</textarea></p>
                <p><input type="submit" value="submit"></p>
        {%endif%}
    </form>
</body>
</html>