<!DOCTYPE html>
<html lang="en">

<head>
  <title>AskM8</title>
</head>

<body bgcolor="BDECB6">
  <a href="{{ url_for('render_question') }}">
    <button>Ask new question</button>
  </a>
  <p>
    <table border="1" align="center" style="width:75%">
      <tr>
        <th>
          <center>ID</center>
        </th>
        <th>
          <center>Question</center>
        </th>
        <th>
          <center>Date/Time</center>
        </th>
        <th>
          <center></center>
        </th>
      </tr>
      {%for tupple in question_list%}
      <tr>
        <td>
          <center>{{tupple[0]}}</center>
        </td>
        <td><a href="{{ url_for('display_question', question_id=tupple[0]) }}">{{tupple[4]}}</a></td>
        <td>
          <center>{{tupple[1]}}</center>
        </td>
        <td>
          <center>edit delete</center>
        </td>
      </tr>
      {%endfor%}
    </table>
  </p>
</body>

</html>