<!DOCTYPE html>
<html lang="en">

<head>
  <title>AskM8</title>
</head>

<body bgcolor="BDECB6">
  <a href="{{ url_for('render_question') }}">
    <button>Ask new question</button>
  </a>
  <p>
  <table border="1" align="center" style="width:75%">
    <tr>
      <th><center>ID</center></th>
      <th><center>Question</center></th>
      <th><center>Date/Time</center></th>
    </tr>
    {%for list in question_list%}
    <tr>
      <td><center>{{list[0]}}</center></td>
      <td><a href="{{ url_for('display_question', question_ID=list[0]) }}">{{list[1]}}</a></td>
      <td><center>{{list[3]}}</center></td>
    </tr>
    {%endfor%}
  </table>
  </p>
</body>

</html>