<!DOCTYPE html>
<html lang="en">

<head>
  <title>AskM8</title>
</head>

<body bgcolor="BDECB6">
  <a href="{{ url_for('render_question') }}">
    <button>Ask new question</button>
  </a>
  <p>
    <table border="1" align="center" style="width:75%">
      <tr>
        <th>
          <center>ID</center>
        </th>
        <th>
          <center>Question</center>
        </th>
        <th>
          <center>Votes</center>
        </th>
        <th>
          <center>Date/Time</center>
          <a href="{{ url_for('list_questions', submission_time='desc')}}"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" style="width:15px;height:15px;"></a>
          <a href="{{ url_for('list_questions', submission_time='asc')}}"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-up-b-128.png" style="width:15px;height:15px;"></a>
        </th>
        <th>
          <center></center>
        </th>
      </tr>
      {%for tupple in question_list%}
      <tr>
        <td>
          <center>{{tupple[0]}}</center>
        </td>
        <td>
          <a href="{{ url_for('display_question', question_id=tupple[0]) }}">{{tupple[4]}}</a>
        </td>
        <td>
          <center>{{tupple[3]}}
          <a href="{{ url_for('vote_up', question_id=tupple[0]) }}"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-up-b-128.png" style="width:15px;height:15px;"></a>
          <a href="{{ url_for('vote_down', question_id=tupple[0] )}}"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" style="width:15px;height:15px;"></a>
          </center>
        </td>
        <td>
          <center>{{tupple[1]}}</center>
        </td>
        <td>
          <center><a href="{{ url_for('edit_question', question_id=tupple[0]) }}">edit</a> <a href="{{url_for('delete_question', question_id=tupple[0])}}">delete</a></center>
        </td>
      </tr>
      {%endfor%}
    </table>
  </p>
</body>

</html>