<!DOCTYPE html>
<html>
  <head>
    <title>AskM8 - Registration</title>
    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='style.css')}}"/>
  </head>
  <body class="cr_user">
      <h2>Sign Up</h2>
        <form id="cr_username" action="/add_user_to_db" method="POST">
            Enter a username: <p><input type="text" name="username" /></p>
            <p><input type="submit" value="submit"></p>
        </form>
        <a href="{{url_for('list_questions')}}">
            <button>Back</button>
        </a>
  </body>
</html>