<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users</title>
    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='style.css')}}"/>
</head>
<body>
    <h2 id="reg_us">Registered users</h2>
    <table class="display_table" border="1" align="center" style="width:60%">
        <tr>
            <td><center><strong>Creation date</center></strong></td>
            <td><center><strong>Username</center></strong></td>
        </tr>
        {%for tuple in user_list%}
        <tr>
            <td><center>{{tuple[1]}}</center></td>
            <td><center>{{tuple[2]}}</center></td>
        </tr>
        {%endfor%}
    </table>
        <a id="awesome_button" href="{{url_for('list_questions')}}">
            <button>SuperAwsomeMagicButton</button>
        </a>
</body>
</html>
