<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        {%for tuple in user_list%}
        <tr>
            <td><center>{{tuple[1]}}</center></td>
            <td><center>{{tuple[2]}}</center></td>
        </tr>
        {%endfor%}
    </table>
    <p>
    <a href="{{ url_for('register') }}">
    <button>Create user</button>
    </a>
    <p>
</body>
</html>