<!DOCTYPE html>
<html lang="en">
<head>
    <title>User page</title>
    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='style.css')}}"/>
</head>
<body>
    <h2 id="reg_us">User page</h2>
    <table class="display_table" border="1" align="center" style="width:60%">
        <tr>
            <td><strong>Username</center></td>
            <td><strong>Creation date</center></td>
            <td><strong>Questions asked</center></td>
            <td><strong>Answers gave</center></td>
            <td><strong>Comments added</center></td>
        </tr>
        {%for tupple in user_details%}
        <tr>
            <td>{{tupple[0]}}</td>
            <td>{{tupple[1]}}</td>
            <td>{{tupple[2]}}</td>
            <td>{{tupple[3]}}</td>
            <td>{{tupple[4]}}</td>
        </tr>
        {%endfor%}
    </table>
    <a id="back_button" href="{{url_for('list_users')}}">
            <button>Back</button>
        </a>
</body>
</html>